Repository Hiro-mackay/gc-storage: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-backend, lint-backend, fmt-frontend, lint-frontend

fmt-backend:
  run: go fmt {staged_files} && goimports -w {staged_files}
  stage_fixed: true

lint-backend:
  run: golangci-lint run ./...

fmt-frontend:
  run: pnpm exec prettier --write {staged_files}
  stage_fixed: true

lint-frontend:
  run: pnpm lint

chore: exclude generated files from prettier formatting
  frontend/.prettierignore
Due: none

chore: remove generated files from git and generate on demand
  .gitignore
  Taskfile.yml
  backend/internal/infrastructure/database/sqlcgen/archived_file_versions.sql.go
  backend/internal/infrastructure/database/sqlcgen/archived_files.sql.go
  backend/internal/infrastructure/database/sqlcgen/audit_logs.sql.go
  backend/internal/infrastructure/database/sqlcgen/copyfrom.go
  backend/internal/infrastructure/database/sqlcgen/db.go
  backend/internal/infrastructure/database/sqlcgen/email_verification_tokens.sql.go
  backend/internal/infrastructure/database/sqlcgen/file_versions.sql.go
  backend/internal/infrastructure/database/sqlcgen/files.sql.go
  backend/internal/infrastructure/database/sqlcgen/folder_paths.sql.go
  backend/internal/infrastructure/database/sqlcgen/folders.sql.go
  backend/internal/infrastructure/database/sqlcgen/groups.sql.go
  backend/internal/infrastructure/database/sqlcgen/invitations.sql.go
  backend/internal/infrastructure/database/sqlcgen/memberships.sql.go
  backend/internal/infrastructure/database/sqlcgen/models.go
  backend/internal/infrastructure/database/sqlcgen/oauth_accounts.sql.go
  backend/internal/infrastructure/database/sqlcgen/password_reset_tokens.sql.go
  backend/internal/infrastructure/database/sqlcgen/permission_grants.sql.go
  backend/internal/infrastructure/database/sqlcgen/relationships.sql.go
  backend/internal/infrastructure/database/sqlcgen/share_link_accesses.sql.go
  backend/internal/infrastructure/database/sqlcgen/share_links.sql.go
  backend/internal/infrastructure/database/sqlcgen/upload_parts.sql.go
  backend/internal/infrastructure/database/sqlcgen/upload_sessions.sql.go
  backend/internal/infrastructure/database/sqlcgen/user_profiles.sql.go
  backend/internal/infrastructure/database/sqlcgen/users.sql.go
  frontend/src/lib/api/openapi.json
  frontend/src/lib/api/schema.d.ts
Due: fmt-backend, lint-backend, fmt-frontend, lint-frontend

feat(frontend): add password reset/change pages and routes
  frontend/src/app/router.tsx
  frontend/src/components/auth/password-strength.tsx
  frontend/src/features/auth/api/mutations.ts
  frontend/src/features/auth/pages/forgot-password-page.tsx
  frontend/src/features/auth/pages/login-page.tsx
  frontend/src/features/auth/pages/reset-password-page.tsx
  frontend/src/features/settings/pages/settings-page.tsx
Due: fmt-frontend, lint-frontend

test(auth): add MockPasswordResetTokenRepository
  backend/tests/testutil/mocks/password_reset_token_mocks.go
Due: fmt-backend, lint-backend

test(auth): add password command tests and harden error handling
  backend/internal/usecase/auth/command/change_password_test.go
  backend/internal/usecase/auth/command/forgot_password.go
  backend/internal/usecase/auth/command/forgot_password_test.go
  backend/internal/usecase/auth/command/reset_password.go
  backend/internal/usecase/auth/command/reset_password_test.go
  backend/internal/usecase/auth/command/set_password_test.go
Due: fmt-backend, lint-backend

fix(auth): add rate limiting to password change and set endpoints
  backend/internal/interface/router/router.go
Due: fmt-backend, lint-backend

test(auth): add MockEmailVerificationTokenRepository
  backend/tests/testutil/mocks/email_verification_token_mocks.go
Due: fmt-backend, lint-backend

test(auth): add register/verify/resend unit tests
  backend/internal/usecase/auth/command/register_test.go
  backend/internal/usecase/auth/command/resend_email_verification_test.go
  backend/internal/usecase/auth/command/verify_email_test.go
Due: fmt-backend, lint-backend

fix(auth): correct register integration test JSON path assertions
  backend/tests/integration/auth_test.go
Due: fmt-backend, lint-backend

feat(frontend): enhance register page with password confirm and OAuth
  frontend/src/components/auth/password-strength.tsx
  frontend/src/features/auth/pages/register-page.tsx
Due: fmt-frontend, lint-frontend

test(storage): add mock repositories for file management
  backend/tests/testutil/mocks/file_mocks.go
  backend/tests/testutil/mocks/file_version_mocks.go
  backend/tests/testutil/mocks/storage_mocks.go
Due: fmt-backend, lint-backend

test(storage): add file and file version entity unit tests
  backend/internal/domain/entity/file_test.go
  backend/internal/domain/entity/file_version_test.go
Due: fmt-backend, lint-backend

test(storage): add rename and move file command unit tests
  backend/internal/usecase/storage/command/move_file_test.go
  backend/internal/usecase/storage/command/rename_file_test.go
Due: fmt-backend, lint-backend

test(storage): add download URL and version list query tests
  backend/internal/usecase/storage/query/get_download_url_test.go
  backend/internal/usecase/storage/query/list_file_versions_test.go
Due: fmt-backend, lint-backend

test(storage): add file management integration tests
  backend/tests/integration/file_download_test.go
  backend/tests/integration/file_rename_move_test.go
Due: fmt-backend, lint-backend

fix(storage): use byte count for FileName length validation
  backend/internal/domain/valueobject/file_name.go
Due: fmt-backend, lint-backend

refactor(storage): deduplicate NewFile constructor
  backend/internal/domain/entity/file.go
Due: fmt-backend, lint-backend

fix(storage): validate version query param with proper error handling
  backend/internal/interface/handler/file_handler.go
Due: fmt-backend, lint-backend

fix(storage): correct MoveFile auth and RenameFile conflict check
  backend/internal/usecase/storage/command/move_file.go
  backend/internal/usecase/storage/command/rename_file.go
Due: fmt-backend, lint-backend

test(storage): add upload session and upload part mock repositories
  backend/tests/testutil/mocks/upload_part_mocks.go
  backend/tests/testutil/mocks/upload_session_mocks.go
Due: fmt-backend, lint-backend

test(storage): add UploadSession and UploadPart entity unit tests
  backend/internal/domain/entity/upload_part_test.go
  backend/internal/domain/entity/upload_session_test.go
Due: fmt-backend, lint-backend

test(storage): add upload command unit tests
  backend/internal/usecase/storage/command/abort_upload_test.go
  backend/internal/usecase/storage/command/complete_upload_test.go
  backend/internal/usecase/storage/command/initiate_upload_test.go
Due: fmt-backend, lint-backend

test(storage): add GetUploadStatus query unit test
  backend/internal/usecase/storage/query/get_upload_status_test.go
Due: fmt-backend, lint-backend

fix(storage): align multipart threshold constants with domain
  backend/internal/infrastructure/storage/presigned.go
Due: fmt-backend, lint-backend

refactor(auth): restructure authentication feature files and update API interactions
  docs/04-specs/features/auth-login.md
  docs/04-specs/features/auth-password.md
  docs/04-specs/features/auth-registration.md
  docs/04-specs/features/file-management.md
  docs/04-specs/features/file-upload.md
  docs/04-specs/features/folder-management.md
  docs/04-specs/features/group-invitation.md
  docs/04-specs/features/group-management.md
  docs/04-specs/features/permission-management.md
  docs/04-specs/features/sharing.md
  docs/04-specs/features/trash.md
  docs/04-specs/features/user-profile.md
Due: none

test(storage): add folder domain, usecase unit tests and mocks
  backend/internal/domain/entity/folder_path_test.go
  backend/internal/domain/entity/folder_test.go
  backend/internal/domain/service/folder_hierarchy_service_test.go
  backend/internal/domain/valueobject/folder_name_test.go
  backend/internal/usecase/storage/command/create_folder_test.go
  backend/internal/usecase/storage/command/delete_folder_test.go
  backend/internal/usecase/storage/command/move_folder_test.go
  backend/internal/usecase/storage/command/rename_folder_test.go
  backend/internal/usecase/storage/query/get_ancestors_test.go
  backend/internal/usecase/storage/query/get_folder_test.go
  backend/internal/usecase/storage/query/list_folder_contents_test.go
  backend/tests/testutil/mocks/archived_file_mocks.go
  backend/tests/testutil/mocks/authz_permission_resolver_mock.go
Due: fmt-backend, lint-backend

fix(ci): use gofmt instead of go fmt for multi-directory staged files
  lefthook.yml
Due: none

update(claude.md): streamline project documentation and commands section
  CLAUDE.md
Due: none

feat(frontend): implement frontend features for auth, files, and settings
  Taskfile.yml
  frontend/package.json
  frontend/src/components/layout/main-layout.tsx
  frontend/src/features/auth/api/mutations.ts
  frontend/src/features/auth/api/queries.ts
  frontend/src/features/auth/pages/verify-email-page.tsx
  frontend/src/features/files/api/mutations.ts
  frontend/src/features/files/api/queries.ts
  frontend/src/features/files/components/create-folder-dialog.tsx
  frontend/src/features/files/components/file-context-menu.tsx
  frontend/src/features/files/components/file-preview.tsx
  frontend/src/features/files/components/folder-grid.tsx
  frontend/src/features/files/components/folder-list.tsx
  frontend/src/features/files/components/move-dialog.tsx
  frontend/src/features/files/components/rename-dialog.tsx
  frontend/src/features/files/components/upload-area.tsx
  frontend/src/features/files/components/upload-progress-item.tsx
  frontend/src/features/files/components/upload-progress-panel.tsx
  frontend/src/features/files/hooks/use-file-upload.ts
  frontend/src/features/files/pages/file-browser-page.tsx
  frontend/src/features/files/types.ts
  frontend/src/features/settings/components/change-password-form.tsx
  frontend/src/features/settings/pages/settings-page.tsx
  frontend/src/lib/api/queries.ts
  frontend/src/lib/utils.ts
Due: fmt-frontend, lint-frontend

test(frontend): add unit tests for utils, stores, auth, and files
  frontend/src/features/auth/api/__tests__/mutations.test.ts
  frontend/src/features/files/api/__tests__/mutations.test.ts
  frontend/src/features/files/api/__tests__/queries.test.ts
  frontend/src/features/files/hooks/__tests__/use-file-upload.test.ts
  frontend/src/lib/__tests__/utils.test.ts
  frontend/src/lib/api/__tests__/queries.test.ts
  frontend/src/stores/__tests__/auth-store.test.ts
  frontend/src/stores/__tests__/ui-store.test.ts
  frontend/src/stores/__tests__/upload-store.test.ts
  frontend/src/test/test-utils.tsx
Due: fmt-frontend, lint-frontend

feat(collaboration): implement group invitation with email notification
  backend/internal/domain/service/email_sender.go
  backend/internal/infrastructure/di/collaboration.go
  backend/internal/infrastructure/di/container.go
  backend/internal/interface/dto/request/group.go
  backend/internal/interface/handler/group_handler.go
  backend/internal/job/invitation_expiry.go
  backend/internal/usecase/collaboration/command/accept_invitation_test.go
  backend/internal/usecase/collaboration/command/cancel_invitation.go
  backend/internal/usecase/collaboration/command/cancel_invitation_test.go
  backend/internal/usecase/collaboration/command/decline_invitation_test.go
  backend/internal/usecase/collaboration/command/invite_member.go
  backend/internal/usecase/collaboration/command/invite_member_test.go
  backend/internal/usecase/collaboration/query/list_invitations_test.go
  backend/internal/usecase/collaboration/query/list_pending_invitations_test.go
  backend/tests/integration/group_test.go
  backend/tests/testutil/mocks/collaboration_mocks.go
  backend/tests/testutil/mocks/email_mocks.go
  frontend/src/app/router.tsx
  frontend/src/features/groups/api/__tests__/mutations.test.ts
  frontend/src/features/groups/api/__tests__/queries.test.ts
  frontend/src/features/groups/api/mutations.ts
  frontend/src/features/groups/api/queries.ts
  frontend/src/features/groups/components/__tests__/invite-member-dialog.test.tsx
  frontend/src/features/groups/components/invitation-list.tsx
  frontend/src/features/groups/components/invite-member-dialog.tsx
  frontend/src/features/groups/pages/__tests__/pending-invitations-page.test.tsx
  frontend/src/features/groups/pages/group-detail-page.tsx
  frontend/src/features/groups/pages/invitation-accept-page.tsx
  frontend/src/features/groups/pages/pending-invitations-page.tsx
Due: fmt-backend, lint-backend, fmt-frontend, lint-frontend

feat(collaboration): implement group management with tests and components
  backend/internal/usecase/collaboration/command/change_role_test.go
  backend/internal/usecase/collaboration/command/create_group_test.go
  backend/internal/usecase/collaboration/command/delete_group_test.go
  backend/internal/usecase/collaboration/command/leave_group_test.go
  backend/internal/usecase/collaboration/command/remove_member_test.go
  backend/internal/usecase/collaboration/command/transfer_ownership_test.go
  backend/internal/usecase/collaboration/command/update_group.go
  backend/internal/usecase/collaboration/command/update_group_test.go
  backend/internal/usecase/collaboration/query/get_group_test.go
  backend/internal/usecase/collaboration/query/list_members_test.go
  backend/internal/usecase/collaboration/query/list_my_groups_test.go
  backend/tests/integration/group_test.go
  frontend/src/features/groups/api/mutations.ts
  frontend/src/features/groups/api/queries.ts
  frontend/src/features/groups/components/__tests__/create-group-dialog.test.tsx
  frontend/src/features/groups/components/__tests__/role-change-dropdown.test.tsx
  frontend/src/features/groups/components/__tests__/transfer-ownership-dialog.test.tsx
  frontend/src/features/groups/components/create-group-dialog.tsx
  frontend/src/features/groups/components/member-list.tsx
  frontend/src/features/groups/components/role-change-dropdown.tsx
  frontend/src/features/groups/components/transfer-ownership-dialog.tsx
  frontend/src/features/groups/pages/group-detail-page.tsx
  frontend/src/features/groups/pages/groups-page.tsx
Due: fmt-backend, lint-backend, fmt-frontend, lint-frontend

feat(permissions): implement PBAC permission management with move enforcement
  backend/internal/domain/authz/permission.go
  backend/internal/domain/authz/role.go
  backend/internal/infrastructure/di/storage.go
  backend/internal/usecase/authz/command/grant_role.go
  backend/internal/usecase/authz/command/grant_role_test.go
  backend/internal/usecase/authz/command/revoke_grant.go
  backend/internal/usecase/authz/command/revoke_grant_test.go
  backend/internal/usecase/authz/query/list_grants.go
  backend/internal/usecase/authz/query/list_grants_test.go
  backend/internal/usecase/storage/command/move_file.go
  backend/internal/usecase/storage/command/move_file_test.go
  backend/internal/usecase/storage/command/move_folder.go
  backend/internal/usecase/storage/command/move_folder_test.go
  backend/tests/integration/permission_test.go
  backend/tests/testutil/mocks/authz_grant_mocks.go
  frontend/src/features/groups/api/mutations.ts
  frontend/src/features/groups/components/member-list.tsx
  frontend/src/features/permissions/api/__tests__/mutations.test.ts
  frontend/src/features/permissions/api/mutations.ts
  frontend/src/features/permissions/api/queries.ts
  frontend/src/features/permissions/components/__tests__/grant-dialog.test.tsx
  frontend/src/features/permissions/components/__tests__/role-dropdown.test.tsx
  frontend/src/features/permissions/components/__tests__/settings-panel.test.tsx
  frontend/src/features/permissions/components/grant-dialog.tsx
  frontend/src/features/permissions/components/grantee-list.tsx
  frontend/src/features/permissions/components/role-dropdown.tsx
  frontend/src/features/permissions/components/settings-panel.tsx
  frontend/src/lib/api/queries.ts
Due: fmt-backend, lint-backend, fmt-frontend, lint-frontend

feat(trash): implement trash lifecycle with restore, permanent delete, and batch expiry
  backend/internal/domain/entity/file.go
  backend/internal/domain/entity/file_test.go
  backend/internal/infrastructure/di/handlers.go
  backend/internal/infrastructure/di/storage.go
  backend/internal/interface/dto/response/file.go
  backend/internal/interface/handler/file_handler.go
  backend/internal/interface/handler/trash_handler.go
  backend/internal/interface/handler/upload_handler.go
  backend/internal/interface/presenter/response.go
  backend/internal/interface/router/router.go
  backend/internal/job/trash_expiry.go
  backend/internal/usecase/storage/command/empty_trash.go
  backend/internal/usecase/storage/command/empty_trash_test.go
  backend/internal/usecase/storage/command/permanently_delete_file.go
  backend/internal/usecase/storage/command/permanently_delete_file_test.go
  backend/internal/usecase/storage/command/restore_file.go
  backend/internal/usecase/storage/command/restore_file_test.go
  backend/internal/usecase/storage/command/trash_file.go
  backend/internal/usecase/storage/command/trash_file_test.go
  backend/internal/usecase/storage/query/list_trash_test.go
  frontend/src/features/sharing/api/mutations.ts
  frontend/src/features/sharing/pages/__tests__/public-access-page.test.tsx
  frontend/src/features/trash/__tests__/trash-page.test.tsx
  frontend/src/features/trash/api/__tests__/mutations.test.ts
  frontend/src/features/trash/api/__tests__/queries.test.ts
  frontend/src/features/trash/api/mutations.ts
  frontend/src/features/trash/api/queries.ts
  frontend/src/features/trash/components/__tests__/bulk-delete-dialog.test.tsx
  frontend/src/features/trash/components/__tests__/empty-trash-dialog.test.tsx
  frontend/src/features/trash/components/__tests__/permanent-delete-dialog.test.tsx
  frontend/src/features/trash/components/__tests__/trash-list.test.tsx
  frontend/src/features/trash/components/bulk-delete-dialog.tsx
  frontend/src/features/trash/components/empty-trash-dialog.tsx
  frontend/src/features/trash/components/permanent-delete-dialog.tsx
  frontend/src/features/trash/components/trash-list.tsx
  frontend/src/features/trash/components/trash-toolbar.tsx
  frontend/src/features/trash/pages/trash-page.tsx
  frontend/src/lib/api/__tests__/queries.test.ts
  frontend/src/lib/api/queries.ts
Due: fmt-backend, lint-backend, fmt-frontend, lint-frontend

feat(profile): implement user profile settings with tabbed UI and separated API endpoints
  backend/internal/infrastructure/di/handlers.go
  backend/internal/infrastructure/di/profile.go
  backend/internal/interface/dto/request/profile.go
  backend/internal/interface/dto/response/profile.go
  backend/internal/interface/handler/profile_handler.go
  backend/internal/interface/handler/swagger_models.go
  backend/internal/interface/router/router.go
  backend/internal/usecase/profile/command/update_profile.go
  backend/internal/usecase/profile/command/update_profile_test.go
  backend/internal/usecase/profile/command/update_user.go
  backend/internal/usecase/profile/command/update_user_test.go
  frontend/src/components/ui/switch.tsx
  frontend/src/components/ui/tabs.tsx
  frontend/src/features/settings/__tests__/appearance-tab.test.tsx
  frontend/src/features/settings/__tests__/notifications-tab.test.tsx
  frontend/src/features/settings/__tests__/profile-tab.test.tsx
  frontend/src/features/settings/__tests__/settings-page.test.tsx
  frontend/src/features/settings/api/mutations.ts
  frontend/src/features/settings/api/queries.ts
  frontend/src/features/settings/components/appearance-tab.tsx
  frontend/src/features/settings/components/notifications-tab.tsx
  frontend/src/features/settings/components/profile-tab.tsx
  frontend/src/features/settings/pages/settings-page.tsx
Due: fmt-backend, lint-backend, fmt-frontend, lint-frontend

fix(frontend): remove manual API type definitions in favor of generated schema types
  frontend/src/features/settings/api/mutations.ts
  frontend/src/features/settings/api/queries.ts
  frontend/src/features/sharing/api/mutations.ts
  frontend/src/features/sharing/api/queries.ts
  frontend/src/features/trash/api/mutations.ts
  frontend/src/features/trash/api/queries.ts
Due: fmt-frontend, lint-frontend

fix(test): update profile integration tests for nested response shape and separated endpoints
  Taskfile.yml
  backend/tests/integration/profile_test.go
Due: fmt-backend, lint-backend

fix(test): align auth and permission tests with spec
  backend/internal/usecase/auth/command/login.go
  backend/internal/usecase/auth/command/reset_password.go
  backend/internal/usecase/auth/command/reset_password_test.go
  backend/tests/integration/auth_test.go
  backend/tests/integration/permission_test.go
  backend/tests/testutil/server.go
Due: fmt-backend, lint-backend

Path conditions:
  fmt-backend: any of: backend/**/*.go and ^backend/
  lint-backend: any of: backend/**/*.go and ^backend/
  fmt-frontend: any of: frontend/src/**/*.{ts,tsx,css} and ^frontend/
  lint-frontend: any of: frontend/src/**/*.{ts,tsx} and ^frontend/
